<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styleD.css">
  <script type="text/javascript" src="/js/app.js" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
  <nav id="sidebar" class = "sideb">
    <ul value= "none">
      <li  class="active">
        <span class="logo">Infographix</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
        </button>
      </li>
      <li>
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"/></svg>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/indexV">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
          <span>Call Playback</span>
        </a>
      </li>
      <li>
        <li>
          <button onclick=toggleSubMenu(this) class="dropdown-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h207q16 0 30.5 6t25.5 17l57 57h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Zm400-160v40q0 17 11.5 28.5T600-320q17 0 28.5-11.5T640-360v-40h40q17 0 28.5-11.5T720-440q0-17-11.5-28.5T680-480h-40v-40q0-17-11.5-28.5T600-560q-17 0-28.5 11.5T560-520v40h-40q-17 0-28.5 11.5T480-440q0 17 11.5 28.5T520-400h40Z"/></svg>
            <span>Select a Column Pair</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>
          </button>
          <ul id="column-pairs-list" class="sub-menu">
              <!-- List of column pairs will be dynamically generated -->
            </ul>
          </ul>
        </li>
      <li>
        <button onclick="toggleSubMenu(this); scrollToTable();" class="dropdown-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="m221-313 142-142q12-12 28-11.5t28 12.5q11 12 11 28t-11 28L250-228q-12 12-28 12t-28-12l-86-86q-11-11-11-28t11-28q11-11 28-11t28 11l57 57Zm0-320 142-142q12-12 28-11.5t28 12.5q11 12 11 28t-11 28L250-548q-12 12-28 12t-28-12l-86-86q-11-11-11-28t11-28q11-11 28-11t28 11l57 57Zm339 353q-17 0-28.5-11.5T520-320q0-17 11.5-28.5T560-360h280q17 0 28.5 11.5T880-320q0 17-11.5 28.5T840-280H560Zm0-320q-17 0-28.5-11.5T520-640q0-17 11.5-28.5T560-680h280q17 0 28.5 11.5T880-640q0 17-11.5 28.5T840-600H560Z"/>
          </svg>
          <span>Call Table Analysis</span>
        </button>
        <!-- <ul class="sub-menu">
          <div>
            <li><a href="#">By Date</a></li>
            <li><a href="#">Incoming/Outgoing</a></li>
            <li><a href="#">By Name</a></li>
            <li><a href="#">Duration</a></li>
            <li><a href="#">Purpose</a></li>
          </div>
        </ul> -->
      </li>
      <li>
        <a href="/sentimental">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-40q0-17 11.5-28.5T280-880q17 0 28.5 11.5T320-840v40h320v-40q0-17 11.5-28.5T680-880q17 0 28.5 11.5T720-840v40h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>
          <span>Sentimental Analysis</span>
        </a>
      </li>
      <li>
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
          <span>Download & Export</span>
        </a>
      </li>
    </ul>
  </nav>
  <main>
   
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Portfolio Performance Dashboard</title>
      
      <link rel="stylesheet" href="/css/mainD.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
      <title>Call Logs Dashboard</title>
      <style>
          th {
              cursor: pointer; /* Change the cursor to indicate sorting */
              position: relative; /* For positioning arrows */
          }
          .sort-arrow {
              margin-left: 5px;
              font-size: 1.2em; /* Make arrows larger */
              display: none; /* Hide arrows by default */
          }
          .asc .up-arrow {
              display: inline; /* Show up arrow for ascending order */
          }
          .desc .down-arrow {
              display: inline; /* Show down arrow for descending order */
          }
      </style>
    </head>
  <body>
      <div class="container">
          <div class="header">
              <h1><b>Call Analysis Dashboard</b></h1>
          </div>
          <div class="section">
            <div class="card">
                <div class="card-icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="120" height="150" viewBox="0 0 801.95277 537" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M857.27306,503.00345a10.52659,10.52659,0,0,1,1.6208-.34681l21.89865-44.4965-6.68563-10.02281,13.80744-12.06683,17.35728,21.24-35.35067,51.44811a10.49579,10.49579,0,1,1-12.64787-5.75514Z" transform="translate(-199.02361 -181.5)" fill="#a0616a"/><path d="M894.65563,442.21808a4.51373,4.51373,0,0,1-1.01617.801l-22.4057,12.98872a4.49929,4.49929,0,0,1-6.32407-1.96783l-10.89742-23.02258a4.47646,4.47646,0,0,1,1.53737-5.64507l13.88914-9.44831a4.502,4.502,0,0,1,5.718.54388L894.57,435.94935a4.504,4.504,0,0,1,.08559,6.26873Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><polygon points="727.092 515.689 715.262 518.908 697.217 474.811 714.677 470.06 727.092 515.689" fill="#a0616a"/><path d="M906.71654,697.9165h23.64387a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H891.82969a0,0,0,0,1,0,0v0A14.88686,14.88686,0,0,1,906.71654,697.9165Z" transform="translate(-352.24737 82.43915) rotate(-15.22067)" fill="#2f2e41"/><polygon points="625.961 524.716 613.702 524.715 607.869 477.427 625.963 477.428 625.961 524.716" fill="#a0616a"/><path d="M604.94435,521.2124h23.64387a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H590.05749a0,0,0,0,1,0,0v0A14.88686,14.88686,0,0,1,604.94435,521.2124Z" fill="#2f2e41"/><circle cx="638.87797" cy="194.16535" r="24.56103" fill="#a0616a"/><path d="M824.23418,672.5H807.48052a4.51307,4.51307,0,0,1-4.4956-4.22266c-4.99219-79.36132-2.072-136.28906,9.18969-179.15332a4.67831,4.67831,0,0,1,.18238-.55175l.89721-2.24317a4.47879,4.47879,0,0,1,4.17847-2.8291h34.4519a4.4927,4.4927,0,0,1,3.41675,1.57129l4.67945,5.46c.0913.10645.17675.21484.259.3291,21.10107,29.42578,40.01123,86.9541,61.91235,164.27832a4.48492,4.48492,0,0,1-2.95849,5.5166L901.18877,666.417a4.52419,4.52419,0,0,1-5.425-2.332l-46.72266-96.90723a3.50019,3.50019,0,0,0-6.62036,1.0459l-13.728,100.38575A4.51721,4.51721,0,0,1,824.23418,672.5Z" transform="translate(-199.02361 -181.5)" fill="#2f2e41"/><path d="M858.09209,490.93066c-.04711,0-.094-.001-.14135-.00195l-41.84839-1.32129a4.4854,4.4854,0,0,1-4.32862-3.9541c-5.30493-42.94141,9.24415-54.44531,15.74561-57.39746a3.45965,3.45965,0,0,0,2.01221-2.74316l.5625-4.501a4.48359,4.48359,0,0,1,.88916-2.18555c10.1936-13.20508,24.11279-17.43359,31.50268-18.77832a4.49307,4.49307,0,0,1,5.25122,3.84961l.84278,6.46289a3.56038,3.56038,0,0,0,.71338,1.69141c21.259,27.792-2.42456,68.82715-7.38819,76.77051h0A4.50839,4.50839,0,0,1,858.09209,490.93066Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M887.45489,378.43036A97.75259,97.75259,0,0,0,867.94952,358.01c-6.19825-4.84149-13.09766-8.97778-20.70948-10.95636-7.6123-1.97858-16.01855-1.64179-22.96338,2.04919-6.94531,3.691-14.12548,11.02454-14.16943,18.88941-.01367,2.52661.62891,5.94494,3.11719,5.50781l.71973.09546q9.00366-1.81851,18.00683-3.637,3.835,13.30782,7.66943,26.61572c.53907,1.86981,1.26172,3.96081,3.03663,4.75818,1.67187.751,3.60449.04345,5.29589-.66266.27832-.11627,2.66844-5.48164,2.66844-5.48164a1.00005,1.00005,0,0,1,1.72268-.28844l1.41987,1.77465a2,2,0,0,0,2.3321.59617q14.68261-6.12932,29.3657-12.25858c1.35254-.56476,2.86475-1.30218,3.25684-2.71478C889.09454,380.94391,888.26739,379.57556,887.45489,378.43036Z" transform="translate(-199.02361 -181.5)" fill="#2f2e41"/><path d="M999.97639,718.5h-301a1,1,0,0,1,0-2h301a1,1,0,0,1,0,2Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M836.79313,562.66406a3.20348,3.20348,0,0,1-1.88891-.62549l-4.552-3.30712a2.20585,2.20585,0,0,0-2.60181,0l-4.552,3.30712a3.21341,3.21341,0,0,1-4.94507-3.59228l1.73877-5.35108a2.20712,2.20712,0,0,0-.8042-2.4746l-4.552-3.30762a3.21342,3.21342,0,0,1,1.88891-5.813h5.62647a2.20812,2.20812,0,0,0,2.10522-1.5293l1.73853-5.35107a3.2133,3.2133,0,0,1,6.1123,0l1.73877,5.35107a2.20783,2.20783,0,0,0,2.105,1.5293h5.62647a3.21342,3.21342,0,0,1,1.88891,5.813l-4.552,3.30713a2.20831,2.20831,0,0,0-.804,2.47509l1.73877,5.35108a3.16508,3.16508,0,0,1-1.16748,3.59228A3.20336,3.20336,0,0,1,836.79313,562.66406Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M854.18878,551.96606a10.74269,10.74269,0,0,0,1.40649-16.41247l7.77327-93.87138-23.14412,3.1839-.4403,91.20458a10.80091,10.80091,0,0,0,14.40466,15.89537Z" transform="translate(-199.02361 -181.5)" fill="#a0616a"/><path d="M864.88091,455.19922a4.51364,4.51364,0,0,1-1.28051-.18555l-24.846-7.30762a4.49928,4.49928,0,0,1-2.92676-5.9414l9.19482-23.75391a4.47646,4.47646,0,0,1,5.15259-2.77148l16.4148,3.56836a4.502,4.502,0,0,1,3.54223,4.52148l-.76367,27.49219a4.504,4.504,0,0,1-4.48755,4.37793Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M631.02373,572.5H206.02361a7.00787,7.00787,0,0,1-7-7v-127a7.00787,7.00787,0,0,1,7-7H631.02373a7.00786,7.00786,0,0,1,7,7v127A7.00786,7.00786,0,0,1,631.02373,572.5Zm-425.00012-139a5.0058,5.0058,0,0,0-5,5v127a5.0058,5.0058,0,0,0,5,5H631.02373a5.00572,5.00572,0,0,0,5-5v-127a5.00572,5.00572,0,0,0-5-5Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M391.99874,625.97522a3.9245,3.9245,0,0,1-2.314-.76625l-5.57643-4.0514a2.70227,2.70227,0,0,0-3.18734,0l-5.57643,4.0514a3.9366,3.9366,0,0,1-6.058-4.40073l2.13008-6.55533a2.7053,2.7053,0,0,0-.98488-3.03212l-5.57643-4.0514a3.93647,3.93647,0,0,1,2.31372-7.1212h6.893a2.70468,2.70468,0,0,0,2.57871-1.87346l2.12978-6.55533a3.93667,3.93667,0,0,1,7.48818,0l2.12977,6.55533a2.70469,2.70469,0,0,0,2.57871,1.87346h6.893a3.93652,3.93652,0,0,1,2.31371,7.1212l-5.57642,4.0514a2.70531,2.70531,0,0,0-.98489,3.03212l2.13008,6.55533a3.87738,3.87738,0,0,1-1.43022,4.40073A3.92432,3.92432,0,0,1,391.99874,625.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M448.50715,625.97522a3.92453,3.92453,0,0,1-2.314-.76625l-5.57643-4.0514a2.70227,2.70227,0,0,0-3.18734,0l-5.57643,4.0514a3.93659,3.93659,0,0,1-6.058-4.40073l2.13008-6.55533a2.70532,2.70532,0,0,0-.98489-3.03212l-5.57643-4.0514a3.9366,3.9366,0,0,1,2.314-7.1212h6.8927a2.70467,2.70467,0,0,0,2.5787-1.87346l2.13008-6.55533a3.93646,3.93646,0,0,1,7.48788,0l2.12978,6.55533a2.705,2.705,0,0,0,2.579,1.87346h6.8927a3.9366,3.9366,0,0,1,2.314,7.1212l-5.57643,4.0514a2.705,2.705,0,0,0-.98518,3.03212l2.13007,6.55533a3.87738,3.87738,0,0,1-1.43022,4.40073A3.92429,3.92429,0,0,1,448.50715,625.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M505.01555,625.97522a3.92434,3.92434,0,0,1-2.31372-.76625l-5.57642-4.0514a2.70843,2.70843,0,0,0-3.18765,0l-5.57642,4.0514a3.93639,3.93639,0,0,1-6.05766-4.40073l2.12978-6.55533a2.7053,2.7053,0,0,0-.98488-3.03212l-5.57643-4.0514a3.9366,3.9366,0,0,1,2.314-7.1212h6.8927a2.70468,2.70468,0,0,0,2.57871-1.87346l2.13008-6.55533a3.93645,3.93645,0,0,1,7.48787,0l2.13008,6.55533a2.70469,2.70469,0,0,0,2.57871,1.87346h6.8927a3.9366,3.9366,0,0,1,2.314,7.1212l-5.57643,4.0514a2.7053,2.7053,0,0,0-.98488,3.03212l2.12978,6.55533a3.87769,3.87769,0,0,1-1.42992,4.40073A3.9252,3.9252,0,0,1,505.01555,625.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M561.52425,625.97522a3.92452,3.92452,0,0,1-2.314-.76625l-5.57643-4.0514a2.70227,2.70227,0,0,0-3.18734,0L544.87,625.209a3.93659,3.93659,0,0,1-6.058-4.40073l2.13007-6.55533a2.70383,2.70383,0,0,0-.98518-3.03152l-5.57643-4.052a3.9366,3.9366,0,0,1,2.314-7.1212h6.8927a2.705,2.705,0,0,0,2.579-1.87346l2.12978-6.55533a3.93646,3.93646,0,0,1,7.48788,0l2.13008,6.55533a2.70467,2.70467,0,0,0,2.5787,1.87346h6.8927a3.9366,3.9366,0,0,1,2.314,7.1212l-5.57643,4.0514a2.70532,2.70532,0,0,0-.98489,3.03212l2.13008,6.55533A3.87738,3.87738,0,0,1,563.838,625.209,3.92432,3.92432,0,0,1,561.52425,625.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M599.06451,626.36377a4.31316,4.31316,0,0,1-2.54126-.84082,4.26058,4.26058,0,0,1-1.57129-4.835l2.13037-6.55518a2.31852,2.31852,0,0,0-.84424-2.59814l-5.57666-4.05176a4.324,4.324,0,0,1,2.54175-7.82227H600.096a2.31763,2.31763,0,0,0,2.21-1.60595l2.13037-6.55518a4.32409,4.32409,0,0,1,8.22486,0l2.12988,6.55518a2.31815,2.31815,0,0,0,2.2102,1.60595h6.89283a4.32414,4.32414,0,0,1,2.54174,7.82227l-5.57641,4.05176a2.31752,2.31752,0,0,0-.84448,2.59814l2.13012,6.55518a4.32423,4.32423,0,0,1-6.65429,4.83447l-5.57618-4.05127a2.318,2.318,0,0,0-2.73217,0l-5.57642,4.05127A4.31,4.31,0,0,1,599.06451,626.36377Zm9.48413-7.33887a4.31539,4.31539,0,0,1,2.54126.82813l5.57641,4.05127a2.32385,2.32385,0,0,0,3.57642-2.59815l-2.12988-6.55517a4.31291,4.31291,0,0,1,1.571-4.83448l5.57617-4.05175a2.324,2.324,0,0,0-1.366-4.20411h-6.89283a4.31293,4.31293,0,0,1-4.1123-2.98779l-2.13013-6.55517a2.324,2.324,0,0,0-4.42065,0l-2.13013,6.55517a4.3124,4.3124,0,0,1-4.11206,2.98779h-6.89282a2.324,2.324,0,0,0-1.36621,4.20411l5.57666,4.05175a4.31367,4.31367,0,0,1,1.5708,4.83448l-2.13037,6.55517a2.324,2.324,0,0,0,3.57641,2.59815l5.57666-4.05127A4.31666,4.31666,0,0,1,608.54864,619.0249Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M254.02363,461.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,495.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,529.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,461.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,495.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,529.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,1,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M631.02373,322.5H206.02361a7.00787,7.00787,0,0,1-7-7v-127a7.00787,7.00787,0,0,1,7-7H631.02373a7.00786,7.00786,0,0,1,7,7v127A7.00786,7.00786,0,0,1,631.02373,322.5Zm-425.00012-139a5.0058,5.0058,0,0,0-5,5v127a5.0058,5.0058,0,0,0,5,5H631.02373a5.00572,5.00572,0,0,0,5-5v-127a5.00572,5.00572,0,0,0-5-5Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M391.99874,375.97522a3.9245,3.9245,0,0,1-2.314-.76625l-5.57643-4.0514a2.70227,2.70227,0,0,0-3.18734,0l-5.57643,4.0514a3.9366,3.9366,0,0,1-6.058-4.40073l2.13008-6.55533a2.7053,2.7053,0,0,0-.98488-3.03212l-5.57643-4.0514a3.93647,3.93647,0,0,1,2.31372-7.1212h6.893a2.70468,2.70468,0,0,0,2.57871-1.87346l2.12978-6.55533a3.93667,3.93667,0,0,1,7.48818,0l2.12977,6.55533a2.70469,2.70469,0,0,0,2.57871,1.87346h6.893a3.93652,3.93652,0,0,1,2.31371,7.1212l-5.57642,4.0514a2.70531,2.70531,0,0,0-.98489,3.03212l2.13008,6.55533a3.87738,3.87738,0,0,1-1.43022,4.40073A3.92432,3.92432,0,0,1,391.99874,375.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M448.50715,375.97522a3.92453,3.92453,0,0,1-2.314-.76625l-5.57643-4.0514a2.70227,2.70227,0,0,0-3.18734,0l-5.57643,4.0514a3.93659,3.93659,0,0,1-6.058-4.40073l2.13008-6.55533a2.70532,2.70532,0,0,0-.98489-3.03212l-5.57643-4.0514a3.9366,3.9366,0,0,1,2.314-7.1212h6.8927a2.70467,2.70467,0,0,0,2.5787-1.87346l2.13008-6.55533a3.93646,3.93646,0,0,1,7.48788,0l2.12978,6.55533a2.705,2.705,0,0,0,2.579,1.87346h6.8927a3.9366,3.9366,0,0,1,2.314,7.1212l-5.57643,4.0514a2.705,2.705,0,0,0-.98518,3.03212l2.13007,6.55533a3.87738,3.87738,0,0,1-1.43022,4.40073A3.92429,3.92429,0,0,1,448.50715,375.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M505.01555,375.97522a3.92434,3.92434,0,0,1-2.31372-.76625l-5.57642-4.0514a2.70843,2.70843,0,0,0-3.18765,0l-5.57642,4.0514a3.93639,3.93639,0,0,1-6.05766-4.40073l2.12978-6.55533a2.7053,2.7053,0,0,0-.98488-3.03212l-5.57643-4.0514a3.9366,3.9366,0,0,1,2.314-7.1212h6.8927a2.70468,2.70468,0,0,0,2.57871-1.87346l2.13008-6.55533a3.93645,3.93645,0,0,1,7.48787,0l2.13008,6.55533a2.70469,2.70469,0,0,0,2.57871,1.87346h6.8927a3.9366,3.9366,0,0,1,2.314,7.1212l-5.57643,4.0514a2.7053,2.7053,0,0,0-.98488,3.03212l2.12978,6.55533a3.87769,3.87769,0,0,1-1.42992,4.40073A3.9252,3.9252,0,0,1,505.01555,375.97522Z" transform="translate(-199.02361 -181.5)" fill="#6c63ff"/><path d="M599.06451,376.36377a4.31316,4.31316,0,0,1-2.54126-.84082,4.26058,4.26058,0,0,1-1.57129-4.835l2.13037-6.55518a2.31852,2.31852,0,0,0-.84424-2.59814l-5.57666-4.05176a4.324,4.324,0,0,1,2.54175-7.82227H600.096a2.31763,2.31763,0,0,0,2.21-1.606l2.13037-6.55518a4.32409,4.32409,0,0,1,8.22486,0l2.12988,6.55518a2.31815,2.31815,0,0,0,2.2102,1.606h6.89283a4.32414,4.32414,0,0,1,2.54174,7.82227l-5.57641,4.05176a2.31752,2.31752,0,0,0-.84448,2.59814l2.13012,6.55518a4.32423,4.32423,0,0,1-6.65429,4.83447l-5.57618-4.05127a2.318,2.318,0,0,0-2.73217,0l-5.57642,4.05127A4.31,4.31,0,0,1,599.06451,376.36377Zm9.48413-7.33887a4.31539,4.31539,0,0,1,2.54126.82813l5.57641,4.05127a2.32385,2.32385,0,0,0,3.57642-2.59815l-2.12988-6.55517a4.31291,4.31291,0,0,1,1.571-4.83448l5.57617-4.05175a2.324,2.324,0,0,0-1.366-4.20411h-6.89283a4.31293,4.31293,0,0,1-4.1123-2.98779l-2.13013-6.55517a2.324,2.324,0,0,0-4.42065,0l-2.13013,6.55517a4.3124,4.3124,0,0,1-4.11206,2.98779h-6.89282a2.324,2.324,0,0,0-1.36621,4.20411l5.57666,4.05175a4.31367,4.31367,0,0,1,1.5708,4.83448l-2.13037,6.55517a2.324,2.324,0,0,0,3.57641,2.59815l5.57666-4.05127A4.31666,4.31666,0,0,1,608.54864,369.0249Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M542.06451,376.20313a4.31317,4.31317,0,0,1-2.54126-.84083,4.26058,4.26058,0,0,1-1.57129-4.835l2.13037-6.55517a2.31854,2.31854,0,0,0-.84424-2.59815l-5.57666-4.05175A4.324,4.324,0,0,1,536.20318,349.5H543.096a2.31764,2.31764,0,0,0,2.21-1.606l2.13037-6.55517a4.32409,4.32409,0,0,1,8.22486,0l2.12988,6.55517a2.31816,2.31816,0,0,0,2.2102,1.606h6.89283a4.32414,4.32414,0,0,1,2.54174,7.82227l-5.57641,4.05175a2.31754,2.31754,0,0,0-.84448,2.59815l2.13012,6.55517a4.32423,4.32423,0,0,1-6.65429,4.83448l-5.57618-4.05127a2.318,2.318,0,0,0-2.73217,0l-5.57642,4.05127A4.31009,4.31009,0,0,1,542.06451,376.20313Zm9.48413-7.33887a4.31545,4.31545,0,0,1,2.54126.82812l5.57641,4.05127a2.32385,2.32385,0,0,0,3.57642-2.59814l-2.12988-6.55518a4.31289,4.31289,0,0,1,1.571-4.83447l5.57617-4.05176a2.324,2.324,0,0,0-1.366-4.2041h-6.89283a4.31293,4.31293,0,0,1-4.1123-2.98779l-2.13013-6.55518a2.324,2.324,0,0,0-4.42065,0l-2.13013,6.55518A4.3124,4.3124,0,0,1,543.096,351.5h-6.89282a2.324,2.324,0,0,0-1.36621,4.2041l5.57666,4.05176a4.31365,4.31365,0,0,1,1.5708,4.83447l-2.13037,6.55518a2.324,2.324,0,0,0,3.57641,2.59814l5.57666-4.05127A4.31672,4.31672,0,0,1,551.54864,368.86426Z" transform="translate(-199.02361 -181.5)" fill="#3f3d56"/><path d="M254.02363,211.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,245.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,279.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,211.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,245.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/><path d="M254.02363,279.5a6.5,6.5,0,0,0,0,13h329a6.5,6.5,0,0,0,0-13Z" transform="translate(-199.02361 -181.5)" fill="#ccc"/></svg></div>
                  <div class="card-value" id="customerSatisfaction">78%</div>
        <div class="card-label">  <div class="card-label2">▲18.12% </div>Customer Satisfaction</div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="fas fa-arrow-up"></i>
        </div>
        <div class="pics">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 694.85 597.05"><path d="m395.84,593.88h-194.56c-25.35,0-45.97-20.62-45.97-45.97V45.97c0-25.35,20.62-45.97,45.97-45.97h194.56c25.35,0,45.97,20.62,45.97,45.97v501.93c0,25.35-20.62,45.97-45.97,45.97Z" fill="#2f2e43" stroke-width="0"/><path d="m396.04,581.47h-194.95c-19.02,0-34.5-15.48-34.5-34.5V44.08c0-19.02,15.48-34.5,34.5-34.5h194.95c19.02,0,34.5,15.48,34.5,34.5v502.89c0,19.02-15.48,34.5-34.5,34.5Z" fill="#fff" stroke-width="0"/><path d="m329.01,42.3h-62.04c-7.15,0-12.97-5.82-12.97-12.97s5.82-12.97,12.97-12.97h62.04c7.15,0,12.97,5.82,12.97,12.97s-5.82,12.97-12.97,12.97Z" fill="#2f2e43" stroke-width="0"/><path d="m339.95,249.79l-19.28-15s-22,6.86-22.57,7.14-34.15,78.16-34.15,78.16c0,0,86.02,44.02,79.73,39.73-6.29-4.28-4.99-62.3.86-69.87,5.87-7.58.86-26.58.86-26.58l-5.43-13.57h-.03Z" fill="#2f2e43" stroke-width="0"/><polygon points="286.64 284.88 312.79 284.88 312.79 326.36 283.96 316.89 286.64 284.88" fill="#f3a3a6" stroke-width="0"/><path d="m343.51,383.13c-3.84,1.59-7.79,2.97-11.84,4.12-9.7,2.78-19.95,4.25-30.52,4.25-9.26,0-18.26-1.13-26.87-3.28-3.04-.75-6.03-1.63-8.95-2.63-3.69-1.26-7.29-2.69-10.8-4.33l1.67-8.16,4.41-21.6,5.17-25.24.96-4.75,2.29-11.19.03-.14h52.3l.03.1,13.94,45.86,5.83,19.21,2.36,7.79Z" fill="#6c63ff" stroke-width="0"/><path d="m361.34,373.8c-5.61,3.63-11.58,6.76-17.83,9.33-3.84,1.59-7.79,2.97-11.84,4.12l-1.9-7.89-7.11-29.51-9.57-39.66h.01s.92-.02,2.48-.02c1.46,0,3.47.02,5.8.1,5.59.2,12.98.77,18.76,2.27,4.46,1.15,7.96,2.86,8.96,5.37.99,2.49,5.12,21.57,10.46,47.35.58,2.78,1.16,5.62,1.77,8.54Z" fill="#6c63ff" stroke-width="0"/><circle cx="309.21" cy="267.63" r="28.72" fill="#f3a3a6" stroke-width="0"/><path d="m344.99,262.36v.04l-7.04,1.21c-.38-1.55-.81-2.99-1.25-4.31-.54-1.6-1.11-3.04-1.71-4.33-1.53-3.28-3.25-5.58-5.01-7.17-6.61-5.99-13.93-2.01-14.9-2.21-1.28-.26-18.53,18.46-20.74,39.28-.23,2.31-.29,4.65-.12,7,.01.09.01.17.01.26.46,7.1-2.03,13.05-5.7,17.88-.04.05-.08.1-.12.15-1.3,1.7-2.76,3.26-4.27,4.69-4.36,4.08-9.28,7.05-12.95,8.93-2.83,1.46-4.91,2.27-5.42,2.46-.08.03-.12.04-.12.04,0,0-4.67,8.77-5.04,25.2-.15,6.89.45,15.12,2.46,24.62.42,1.98.89,4,1.44,6.08.3,1.15.58,2.29.82,3.39-3.69-1.26-7.29-2.69-10.8-4.33-2.8-1.29-5.52-2.69-8.18-4.21-2.43-1.37-4.81-2.84-7.12-4.4,1.22-2.91,2.4-5.45,3.43-7.46.7-1.37,1.33-2.48,1.84-3.29,6.29-10.01,2-27.43,2-27.43-9.71-8.57,1.71-27.43,1.71-27.43,0,0-2.01-25.15,4-30,6.01-4.86,6.29-16.87,6.29-16.87,10.59-46.01,45.16-37.15,45.16-37.15,43.51-4.78,41.43,37.82,41.34,39.33Z" fill="#2f2e43" stroke-width="0"/><path d="m291.9,310.36l-1.92,8.5-2.95,13-10.96,48.45-1.79,7.91c-3.04-.75-6.03-1.63-8.95-2.63-3.69-1.26-7.29-2.69-10.8-4.33-2.8-1.29-5.52-2.69-8.18-4.21.59-2.85,1.16-5.64,1.73-8.37,5.94-28.8,10.64-50.69,11.71-53.37,1.01-2.54,4.25-4.01,8.31-4.82.3-.06.62-.12.93-.17.29-.05.6-.1.89-.14,4.78-.7,10.32-.65,14.65-.43,1.5.08,2.85.18,3.97.27.63.05,1.2.11,1.66.15,1.08.11,1.71.19,1.71.19Z" fill="#6c63ff" stroke-width="0"/><path d="m301.15,393.5c-9.26,0-18.47-1.12-27.36-3.34-3.06-.75-6.13-1.66-9.12-2.68-3.78-1.29-7.48-2.77-10.99-4.4-2.78-1.28-5.58-2.72-8.33-4.29-2.47-1.39-4.91-2.9-7.25-4.48-31.54-21.16-50.38-56.39-50.38-94.23,0-62.54,50.88-113.43,113.43-113.43s113.43,50.88,113.43,113.43c0,38.7-19.5,74.36-52.15,95.4-5.73,3.7-11.84,6.9-18.15,9.5-3.91,1.62-7.96,3.03-12.05,4.2-10.05,2.87-20.5,4.33-31.07,4.33Zm0-222.86c-60.34,0-109.43,49.09-109.43,109.43,0,36.51,18.17,70.49,48.61,90.92,2.25,1.52,4.6,2.97,6.99,4.31,2.66,1.52,5.36,2.91,8.04,4.14,3.39,1.58,6.95,3,10.61,4.25,2.88.99,5.84,1.86,8.79,2.59,8.58,2.14,17.46,3.22,26.4,3.22,10.19,0,20.28-1.41,29.97-4.18,3.95-1.12,7.86-2.49,11.63-4.05,6.09-2.51,11.98-5.59,17.51-9.16,31.51-20.3,50.32-54.71,50.32-92.04,0-60.34-49.09-109.43-109.43-109.43Z" fill="#2f2e43" stroke-width="0"/><path d="m0,595.36c0,.94,1.07,1.69,2.41,1.69h690.03c1.33,0,2.41-.75,2.41-1.69s-1.07-1.69-2.41-1.69H2.41c-1.33,0-2.41.75-2.41,1.69Z" fill="#2f2e43" stroke-width="0"/><path id="uuid-3fbf081d-9ff2-4e55-8986-b74bb868839d-47-155-46-48-44-44-85-89-39-99-102" d="m434.59,320.95h0c2.13-2.09,4.75-3.63,7.65-4.49l21.09-22.99,11.12,10.66-22.6,22.18c-.97,2.84-2.61,5.38-4.8,7.41-5.41,5.17-12.58,6.5-16.02,2.97-3.45-3.52-1.86-10.57,3.54-15.73h.02Z" fill="#f3a3a6" stroke-width="0"/><path d="m443.38,310.6l11.2,14.08,57.89-43.82.05-.1,33.83-63.13c5.18-9.67,2.31-21.7-6.68-27.98-5.5-3.85-12.34-4.92-18.76-2.95-6.42,1.97-11.47,6.7-13.87,12.97l-21.95,57.45-41.71,53.46v.02Z" fill="#d5d5d6" stroke-width="0"/><polygon points="538.71 164.58 515.11 164.58 515.11 202.02 541.13 193.47 538.71 164.58" fill="#f3a3a6" stroke-width="0"/><path d="m492.41,149.02c0,14.32,11.6,25.92,25.92,25.92,14.32,0,25.92-11.6,25.92-25.92,0-14.32-11.6-25.92-25.92-25.92-14.32,0-25.92,11.6-25.92,25.92Z" fill="#f3a3a6" stroke-width="0"/><path d="m536.67,165.59l2.53,4.8,11.16-21.21c6.72-20.58-16.75-32.4-16.75-32.4-7.66-9.02-23.05,1.53-23.05,1.53-22.2-4.93-11.48,13.78-11.48,13.78,0,0,7.57.17,7.57,6.29,0,6.13,8.25,5.7,8.25,5.7l6.46,11.31,3.57-4.34c13.27-5.62,11.74,14.54,11.74,14.54Z" fill="#2f2e43" stroke-width="0"/><rect x="527.33" y="548.21" width="20.94" height="29.71" fill="#f3a3a6" stroke-width="0"/><path d="m506.94,595.9c9.19,0,22.61-.96,22.71-.97,3.59.32,21.51,1.73,22.4-2.37.82-3.77-.39-7.71-.56-8.25-1.73-17.13-2.37-17.33-2.75-17.44-.61-.18-2.39.67-5.28,2.53l-.18.12-.04.21c-.05.26-1.33,6.55-7.4,5.59-4.16-.66-5.51-1.58-5.94-2.03.35-.16.79-.44,1.1-.92.45-.7.53-1.6.23-2.68-.78-2.84-3.12-7.05-3.22-7.23l-.27-.48-23.8,16.06-14.7,4.2c-1.11.31-2,1.11-2.45,2.17h0c-.62,1.48-.24,3.2.96,4.28,2.67,2.4,7.98,6.51,13.54,7.02,1.48.14,3.44.19,5.64.19h0Z" fill="#2f2e43" stroke-width="0"/><rect x="583.54" y="506.94" width="20.94" height="29.71" transform="translate(-196.29 498.38) rotate(-39.6)" fill="#f3a3a6" stroke-width="0"/><path d="m591.18,566.73c7.08-5.86,16.81-15.15,16.88-15.22,2.97-2.03,17.68-12.37,15.75-16.1-1.77-3.43-5.21-5.7-5.69-6-12.25-12.11-12.86-11.85-13.23-11.69-.59.25-1.42,2.03-2.46,5.31l-.06.2.1.19c.14.24,3.16,5.91-2.13,9.03-3.63,2.14-5.25,2.29-5.87,2.22.17-.35.33-.85.26-1.42-.1-.82-.61-1.57-1.53-2.21-2.42-1.69-6.9-3.45-7.09-3.52l-.51-.2-8.1,27.54-8.65,12.61c-.65.95-.83,2.13-.5,3.24h0c.47,1.54,1.86,2.62,3.47,2.69,3.58.15,10.29-.07,14.9-3.22,1.22-.84,2.76-2.05,4.46-3.45h0Z" fill="#2f2e43" stroke-width="0"/><path d="m492.71,319.1l31.92,237.43h23.94l15.96-237.43h-71.83,0Z" fill="#2f2e43" stroke-width="0"/><polygon points="554.55 448.79 602.22 510.64 581.82 527.49 500.01 449.68 492.7 319.1 507.33 332.18 554.55 448.79" fill="#2f2e43" stroke-width="0"/><path d="m507.33,179.43l-14.63,139.67h71.83l5.57-45.33c3.43-28-2.28-56.36-16.28-80.84l-11.02-19.26-35.47,5.76h0Z" fill="#d5d5d6" stroke-width="0"/><path id="uuid-6d861307-5b4f-42f9-9fe9-ab52d0b2e64d-48-156-47-49-45-45-86-90-40-100-103" d="m500.89,358.79h0c1.07-2.79,2.82-5.28,5.1-7.26l9.65-29.68,14.55,5.09-11.35,29.55c.31,2.98-.14,5.97-1.29,8.74-2.77,6.94-8.75,11.13-13.34,9.35-4.59-1.78-6.07-8.85-3.3-15.79h-.02Z" fill="#f3a3a6" stroke-width="0"/><path d="m504.62,345.66l16.03,8.16,34.49-63.89v-.11s4.59-71.47,4.59-71.47c.7-10.94-6.9-20.7-17.69-22.68-6.61-1.21-13.28.65-18.29,5.11-5.03,4.46-7.66,10.87-7.24,17.57l3.87,61.37-15.76,65.95h0Z" fill="#d5d5d6" stroke-width="0"/></svg> </div>
                  <div class="card-value" id="totalCallTime">15,209 / 152 Hrs</div>
        <div class="card-label"> <div class="card-label1"> ▼12.3% </div>Total Calls Made/Total Hours Spent</div>
    </div>
    <div class="card">
        <div class="card-icon">
            <i class="fas fa-clock"></i>
        </div>
        <div>
                  <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="120" height="150" viewBox="0 0 782.40551 665.60645" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M896.6662,758.041c8.5549,16.62823,27.251,24.0573,27.251,24.0573s4.82585-19.53065-3.72905-36.15887-27.251-24.0573-27.251-24.0573S888.11131,741.41281,896.6662,758.041Z" transform="translate(-208.79724 -117.19678)" fill="#f1f1f1"/><path d="M902.8702,752.74513c15.83378,9.94863,21.63305,29.21269,21.63305,29.21269s-19.8724,3.1341-35.70619-6.81453S867.164,745.9306,867.164,745.9306,887.03639,742.79647,902.8702,752.74513Z" transform="translate(-208.79724 -117.19678)" fill="#f1f1f1"/><polygon points="471.576 653.39 460.472 653.39 455.19 610.561 471.578 610.562 471.576 653.39" fill="#ffb7b7"/><path d="M683.20458,781.35011l-35.803-.00133v-.45285a13.93627,13.93627,0,0,1,13.93552-13.9353h.00089l21.86726.00088Z" transform="translate(-208.79724 -117.19678)" fill="#2f2e41"/><polygon points="540.409 653.39 529.305 653.39 524.023 610.561 540.411 610.562 540.409 653.39" fill="#ffb7b7"/><path d="M752.03778,781.35011l-35.803-.00133v-.45285a13.93627,13.93627,0,0,1,13.93553-13.9353h.00088l21.86726.00088Z" transform="translate(-208.79724 -117.19678)" fill="#2f2e41"/><path d="M716.96372,529.3459,695.11681,485.382l5.62657-36.4662-26.2653-7.2456L671.761,490.578l34.06148,46.28876a9.05261,9.05261,0,1,0,11.14126-7.52083Z" transform="translate(-208.79724 -117.19678)" fill="#ffb7b7"/><path d="M764.22463,529.3459,786.07154,485.382l-5.62657-36.4662,26.2653-7.2456,2.7171,48.9078-34.06148,46.28876a9.05261,9.05261,0,1,1-11.14126-7.52083Z" transform="translate(-208.79724 -117.19678)" fill="#ffb7b7"/><circle cx="540.84552" cy="238.00072" r="23.89528" fill="#ffb9b9"/><path d="M725.92823,355.06948s-2.59259-3.88886-1.59543-8.07689a24.48,24.48,0,0,0,.698-7.27917,72.04546,72.04546,0,0,1,4.188-10.56975c2.094-3.78917,1.09686-5.3846,7.678-6.58117s3.88889-9.772,21.23923-.49858a5.0883,5.0883,0,0,0,5.28489,1.99429c3.58972-.698,4.886,4.28773,4.886,4.28773s2.39316-1.396,3.2906.59829,7.29626-1.19692,7.29626,12.26456-7.28172,25.48606-7.28172,25.48606-5.1136,16.134-16.97963,13.84058-13.5855-.9057-21.73679-16.3026C731.22711,369.04583,728.66523,350.7732,725.92823,355.06948Z" transform="translate(-208.79724 -117.19678)" fill="#2f2e41"/><path d="M697.12058,509.59767,694.35,520.461s-13.04915,6.30568-18.27193,62.93158l-7.03418,84.90584L658.3077,757.27955l22.31773,1.73147,15.47517-56.37388,33.43262-118.53385,6.3399,89.6721-7.053,81.267,23.54819.9057,16.3026-90.57s24.9745-132.66142,8.86445-136.52245l-1.61885-13.82373Z" transform="translate(-208.79724 -117.19678)" fill="#2f2e41"/><path d="M691.95381,407.49181l38.44175-21.18411,32.62515,1.74121,38.96851,23.0657-16.242,101.43193s9.31017,10.40866-18.82715,7.35269-73.61486-5.53483-73.61486-5.53483-3.65768-7.25742,4.15449-8.27632,1.27971-.78068,1.27971-.78068-4.721-15.15866,0-18.114l2.284-31.13226Z" transform="translate(-208.79724 -117.19678)" fill="#3f3d56"/><polygon points="493.758 291.868 483.157 290.295 460.699 330.36 497.188 346.448 493.758 291.868" fill="#3f3d56"/><polygon points="580.705 299.114 593.192 293.918 605.611 350.286 571.908 356.669 580.705 299.114" fill="#3f3d56"/><path d="M501.20276,782.80322h489a1,1,0,0,0,0-2h-489a1,1,0,1,0,0,2Z" transform="translate(-208.79724 -117.19678)" fill="#cbcbcb"/><rect x="113" y="397.60645" width="127" height="64" fill="#fff"/><rect x="128.00492" y="413.9894" width="96.99016" height="3.28781" fill="#6c63ff"/><rect x="128.00492" y="427.96253" width="96.99016" height="3.28781" fill="#6c63ff"/><rect x="128.00492" y="441.93568" width="96.99016" height="3.28781" fill="#6c63ff"/><path d="M449.79724,579.80322h-129v-66h129Zm-127-2h125v-62h-125Z" transform="translate(-208.79724 -117.19678)" fill="#3f3d56"/><path d="M357.5347,435.31175A144.4396,144.4396,0,0,1,281.423,413.7047l-.58075-.3598.35913-.58074,75.95212-122.92238H502.32046v.68354C502.32046,370.36109,437.36979,435.31175,357.5347,435.31175Z" transform="translate(-208.79724 -117.19678)" fill="#6c63ff"/><path d="M264.39766,383.11878,263.931,382.83a116.25841,116.25841,0,0,1-39.82172-156.52455l.27243-.47547,101.40059,57.943Z" transform="translate(-208.79724 -117.19678)" fill="#f1f1f1"/><path d="M502.32046,270.44823H356.6836l31.39562-142.23216.66685.14652A144.83118,144.83118,0,0,1,502.32046,269.76468Z" transform="translate(-208.79724 -117.19678)" fill="#6c63ff"/><path d="M333.48684,248.04719,234.80924,191.66l.26523-.463a113.04267,113.04267,0,0,1,122.38838-54.243l.52108.11453Z" transform="translate(-208.79724 -117.19678)" fill="#f1f1f1"/><rect x="367.00394" y="1.00015" width="127" height="64" fill="#fff"/><rect x="382.00885" y="17.3831" width="96.99016" height="3.28781" fill="#6c63ff"/><rect x="382.00885" y="31.35623" width="96.99016" height="3.28781" fill="#6c63ff"/><rect x="382.00885" y="45.32938" width="96.99016" height="3.28781" fill="#6c63ff"/><path d="M703.80115,183.19678h-129v-66h129Zm-127-2h125v-62h-125Z" transform="translate(-208.79724 -117.19678)" fill="#3f3d56"/><rect x="175.77173" y="231.96875" width="2" height="164.6377" fill="#3f3d56"/><rect x="418.25662" y="184.13696" width="164.78461" height="2" transform="translate(-240.60342 105.57799) rotate(-24.33745)" fill="#3f3d56"/></svg></div>
                  <div class="card-value" id="avgTimePerCall">4.6 Mins</div>
                  <div class="card-label"> <div class="card-label2" >▼5.5%</div> Average Call Duration</div>
              </div>
          </div>
          <div class="chart-container">
            <!-- Bar Chart -->
            <div class="chart">
              <canvas id="chart-bar"></canvas>
            </div>
          
            <!-- Line Chart -->
            <div class="chart">
              <canvas id="chart-line"></canvas>
            </div>
          
            <!-- Pie Chart -->
            <div class="chart">
              <canvas id="chart-pie"></canvas>
            </div>
          </div>
          
          
          
          
          
      </div>
  
      
    

<div class="container" id="callTableSection">
    <h1>Call Logs Dashboard</h1>
    <div class="mb-3 row">
        <div class="col-md-3">
            <label for="rowCount" class="form-label">Rows per page:</label>
            <select id="rowCount" class="form-select">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="callTypeFilter" class="form-label">Call Type:</label>
            <select id="callTypeFilter" class="form-select">
                <option value="all">All</option>
                <option value="incoming">Incoming</option>
                <option value="outgoing">Outgoing</option>
            </select>
        </div>
        
        
    </div>
    <div class="d-flex justify-content-start mb-3">
        <button class="btn btn-secondary me-2" id="sortByEmployee">Sort by Employee</button>
        <button class="btn btn-secondary me-2" id="sortByCallType">Sort by Call Type</button>
        
    </div>

    <table id="call-logs-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th data-sort="emp_code">Employee Code <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="employee_name">Employee Name <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="call_type">Call Type <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="duration">Duration <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="missed_calls">Missed Calls <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="connected_calls">Connected Calls <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="call_status">Call Status <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="region">Region <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
                <th data-sort="customer_feedback">Customer Feedback <span class="sort-arrow up-arrow">↑</span><span class="sort-arrow down-arrow">↓</span></th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be dynamically loaded here -->
        </tbody>
    </table>
</div>

<!-- Download button for CSV export -->
 <br> 
<div class="mb-3">
    <a href="/download/call-logs" class="btn btn-primary">Download & Export</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart1.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jQuery -->
<script >
  // Toggle the table visibility
function toggleSubMenu(button) {
  var table = document.getElementById('callTable');
  if (table.style.display === 'none' || table.style.display === '') {
    table.style.display = 'block'; // Show the table
  } else {
    table.style.display = 'none'; // Hide the table
  }
}

// Scroll to the table once it's shown
function scrollToTable() {
  var table = document.getElementById('callTable');
  table.scrollIntoView({ behavior: 'smooth' });
}

// Scroll reveal for the elements as per your previous code
window.addEventListener('scroll', function () {
  let reveals = document.querySelectorAll('.container');
  for (let i = 0; i < reveals.length; i++) {
    let windowHeight = window.innerHeight;
    let elementTop = reveals[i].getBoundingClientRect().top;
    let elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add('active');
    } else {
      reveals[i].classList.remove('active');
    }
  }
});

</script>
<script src="/js/main.js"></script>

  </main>
</body>
</html>